<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.sec.persistance.UserDao">

	<select id="selectAll" resultType="UserVO">
		select * from tbl_users	
	</select>

	<select id="findById" resultType="UserVO">
		select * from tbl_users where username = #{username}
	</select>

	<insert id="insert" parameterType="UserVO">
		insert into tbl_users(
			username, 
			password
		) values (
			#{username},
			#{password}
		)
	</insert>

	<update id="update" parameterType="UserVO">
	
	</update>

	<delete id="delete">
	
	</delete>

	<select id="create_user_table">
		create table if not exists tbl_users (
			username varchar(20) primary key,
			password varchar(20) not null,
			isEnabled boolean default false,
			isAccountNonExpired boolean default true,
			isAccountNonLocked boolean default true,
			isCredentialsNonExpired boolean default true,
			email varchar(30),
			tel varchar(15),
			realname varchar(20),
			nickname varchar(20)
		)
	</select>

	<select id="create_author_table">
		create table if not exists tbl_authorities(
			seq bigint auto_increment primary key,
		    username varchar(20),
		    authority varchar(20)
		)
	</select>

</mapper> 
