<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callor.naver.persistance.MovieDao">
	<select id="selectAll" resultType="MovieVO">
		SELECT * FROM tbl_movie ORDER BY m_seq
	</select>

	<select id="findById" resultType="MovieVO">
		SELECT * FROM tbl_movie WHERE m_seq = #{m_seq}
	</select>
	
	<select id="findByUser" resultType="MovieVO">
		SELECT * FROM tbl_movie WHERE m_username = #{m_username}
	</select>

	<!-- 대문자 to 소문자 : ctrl + shift + y -->
	<!-- 소문자 to 대문자 : ctrl + shift + x -->
	<insert id="insert" parameterType="MovieVO">
		INSERT INTO tbl_movie (
			m_seq,
			title,
			director,
			actor,
			subtitle,
			pubDate,
			image,
			link,
			userRating,
			m_username
		)	VALUES (
			#{m_seq},
			#{title},
			#{director},
			#{actor},
			#{subtitle, jdbcType = VARCHAR},
			#{pubDate, jdbcType = VARCHAR},
		    #{image, jdbcType = VARCHAR},
		    #{link, jdbcType = VARCHAR},
		    #{userRating, jdbcType = VARCHAR},
		    #{m_username}
		)
	</insert>
	
	<update id="update" parameterType="MovieVO">
		UPDATE tbl_movie SET
			title = #{title},
			director = #{director},
			actor = #{actor},			
			subtitle = #{subtitle},
			pubDate = #{pubDate},
			link = #{link},
			image = #{image},
			userRating = #{userRating},
		    m_username = #{m_username}
		WHERE m_seq = #{m_seq}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_movie WHERE m_seq = #{m_seq}
	</delete>
	
	<!-- CREATE TABLE IF NOT EXISTS tbl_movie -->
	<select id = "create_movie_table">
		CREATE TABLE IF NOT EXISTS tbl_movie (
			m_seq 		BIGINT 			PRIMARY KEY AUTO_INCREMENT,    
            title	    VARCHAR(255)	NOT NULL,
		    director	VARCHAR(255),
		    actor		VARCHAR(255),
		    subtitle	VARCHAR(255),
		    pubDate	    VARCHAR(20),
		    link	    VARCHAR(255),
		    image	    VARCHAR(125),
		    userRating	VARCHAR(10),
		    m_username	VARCHAR(20)		NOT NULL
		)
	</select>
</mapper>