<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.naver.persistance.ShoppingDao">
	<select id="selectAll" resultType="ShoppingVO">
		SELECT * FROM tbl_shopping
	</select>

	<select id="findById" resultType="ShoppingVO">
		SELECT * FROM tbl_shopping WHERE productId = #{productId}
	</select>
	
	<select id="findByUser" resultType="ShoppingVO">
		SELECT * FROM tbl_shopping WHERE s_username = #{s_username}
	</select>

	<!-- 대문자 to 소문자 : ctrl + shift + y -->
	<!-- 소문자 to 대문자 : ctrl + shift + x -->
	<insert id="insert" parameterType="ShoppingVO">
		INSERT INTO tbl_shopping (
			productId,
			title,
			mallName,
			maker,
			brand,
			lprice,
			hprice,
			link,
			image,
			s_username
		)	VALUES (
			#{productId},
			#{title},
			#{mallName},
			#{maker},		
			#{brand, jdbcType = VARCHAR},
		    #{lprice, jdbcType = VARCHAR},
		    #{hprice, jdbcType = VARCHAR},
		    #{link, jdbcType = VARCHAR},
		    #{image, jdbcType = VARCHAR},
		    #{s_username}
		)
	</insert>
	
	<update id="update" parameterType="ShoppingVO">
		UPDATE tbl_shopping SET
			title = #{title},
			mallName = #{mallName},
			maker = #{maker},		
			brand = #{brand},
		    lprice = #{lprice},
		    hprice = #{hprice},
		    link = #{link},
		    image = #{s_image},
		    s_username = #{s_username}
		WHERE productId = #{productId}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_shopping WHERE productId = #{productId}
	</delete>
	
	<!-- CREATE TABLE IF NOT EXISTS tbl_shopping -->
	<select id = "create_shopping_table">
		CREATE TABLE tbl_shopping (
			productId	NUMBER			PRIMARY KEY,
			title		nVARCHAR2(255)	NOT NULL,
			mallName	nVARCHAR2(125),
			maker		nVARCHAR2(125),
			brand		nVARCHAR2(125),
			lprice		NUMBER,
			hprice		NUMBER,
			link		VARCHAR2(125),
			image		VARCHAR2(125),
			s_username	VARCHAR2(20)	NOT NULL
		)
	</select>
	
	<select id="create_shopping_seq">
 			CREATE SEQUENCE seq_shopping
			INCREMENT BY 1 START WITH 1
 	</select>
</mapper>