<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.score.persistance.ScoreDao">
	<select id="findByStNum" resultType="ScoreVO">
		SELECT * FROM tbl_score 
			left join tbl_subject
				on sc_sbcode = sb_code
		where sc_stnum = #{sc_stnum}
	</select>
	
	 <update id="updateScore" parameterType="ScoreVO">
 		UPDATE tbl_score SET
 			sc_score = #{sc_score}
		WHERE sc_stnum = #{st_num} and sc_sbcode = #{sb_code}
 	</update>

</mapper> 