@charset "UTF-8";

/*
home.jsp에 적용 할 css
header, nav, footer 등 설정
*/
header {
	padding: 1.2rem;
	text-align: center;
	background-color: rgb(193, 226, 237);
	color: rgb(47, 41, 41);
	font-weight: 900;
}

nav {
	background-color: skyblue;
	color: white;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	padding: 3px 16px;
	margin: 10px;
	border-bottom: 5px solid transparent;
	font-weight: 900;
	font-size: 20px;
	transition: border 0.7s ease-out;
}

nav li:hover {
	cursor: pointer;
	border-bottom: 5px solid rgb(241, 241, 114);
}

nav li:nth-of-type(6) {
	margin-left: auto;
}

/*
nav 등에 a tag를 사용 할 때
보통 일반적인 tag는 부모 tag에 설정된 style을 상속받아 자연스럽게 구성이 된다
하지만 a tag는 font, color, text-style 등을 부모 tag로부터 상속 받지 않는다
a tag에서는 text-decoration 과 font의 color 등을 자체적으로 설정을 해야 한다 
*/
a {
	text-decoration: none;
}

/*
a tag의 color를 자체적으로 설정 할 수 있지만
nav tag와 함께 사용 할 때는 nav에서 color를 설정하고
a tag에서는 nav의 color를 강제로 상속받로고 설정한다

만약 nav의 color를 번경했을때 a tag도 다시 변경해야 하는 불편함을 줄일 수 있다
*/
nav a {
	color: inherit;
}